*{
    margin: auto 0;
    padding: auto 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container span{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.vermelho{
    background-color: #d5000074;
}
.amarelo{
    background-color: #ffd50094;
    
}
.verde{
    background-color: #558b2ff5;
}
.container span + span{
    margin: 10px 0;
}

.vermelho-ativo{
    background-color: red;
    box-shadow: 0 0 15px 3px red;
}
.amarelo-ativo{
    background-color: #ff0;
    box-shadow: 0 0 15px 3px #ff0;

}
.verde-ativo{
    background-color: #76ff03;
    box-shadow: 0 0 15px 3px #76ff03
}
.container{
    width: 40px;
    height:150px;
    background-color: black;
}
    